extends layout

block content
  div.error-wrap
    h1 404
    h2  ◡ ヽ(`Д´)ﾉ ┻━┻
    img(src="http://7xoxzw.com1.z0.glb.clouddn.com/15-12-24/62993174.jpg" width="290px" height="228px")
    p 呵呵哒，访问的页面不存在
