<div id="modal1" class="km-modal-wrap">
	<div class="km-modal-content">
		<div class="km-modal-header">km-modal-1</div>
		<div class="km-modal-body">
			文本输入：<input type="text" value="lalala"><br>
			单选框组：<input type="radio" name="lala">哈哈<input type="radio" name="lala">呵呵<br>
			文本域：<textarea></textarea>

		</div>
		<div class="km-modal-footer">
			<button>确定</button>
			<button data-dismiss="modal">取消</button>
		</div>
	</div>
</div>
<div id="modal2" class="km-modal-wrap">
	<div class="km-modal-content">
		<div class="km-modal-header">km-modal-2</div>
		<div class="km-modal-body">
			<input type="text" value="lalala">
			<input type="text" value="lalala">
		</div>
		<div class="km-modal-footer">
			<button>确定</button>
			<button data-dismiss="modal">取消</button>
		</div>
	</div>
</div>
<div id="modal3" class="km-modal-wrap">
	<div class="km-modal-content">
		<div class="km-modal-header">km-modal-3</div>
		<div class="km-modal-body">
			<input type="text" value="lalala">
			<input type="text" value="lalala">
			<div class="superbig"></div>
		</div>
		<div class="km-modal-footer">
			<button>确定</button>
			<button data-dismiss="modal">取消</button>
		</div>
	</div>
</div>
<div class="km-modal-buttons">
	<h3>KM-Modal</h3>
	<p>Light Weighted, Responsive, Customisable</p>
	<button class="btn" data-toggle="modal" data-target="modal1">modal1</button>
	<button class="btn" data-toggle="modal" data-target="modal2">modal2</button>
	<button class="btn" data-toggle="modal" data-target="modal3">modal3(超大)</button>
</div>