<h1>Add a Video</h1>

<form>
    <div class="form-group">
        <label>Course Title:</label>
        <input class="form-control" ng-model="assignment.title">
    </div>
    <div class="form-group">
        <label>Course Code:</label>
        <input class="form-control" ng-model="assignment.code">
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" ng-model="assignment.description"></textarea>
    </div>
    <div class="form-group">
        <label>Due Date:</label>
        <input type="date" class="form-control" ng-model="assignment.date">
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()">
    <a type="button" class="btn btn-default" href="/#/">取消</a>
</form>